<h1 class="title">
  <%= @post.title %>
</h1>

<p class="date">
  Submitted <%= time_ago_in_words(@post.created_at) %> Ago
  |<%= link_to 'Edit', edit_post_path(@post) %>
  |<%= link_to 'Destroy', post_path(@post), method: :delete, data: {confirm: 'Are You Sure'} %>
</p>

<h3 class="body">
  <%= @post.body %>
</h3>
<hr>
<div>
  <h4 style="color: blue">
    <%= @post.comments.count %> Comments
  </h4>
  <%= render @post.comments %>
  <h3>Add a Comment:</h3>
  <%= render "comments/form" %>
</div>